Repository vuesion/vuesion, pull requests merged in 2019-08, with the labels that each got.

#433 chore: implements helmet
  package-lock.json
  package.json
  src/server/middlewares/index.ts
  src/server/routes/SSRRoutes.ts
  src/server/utils/Utils.ts
Labels: chore, security

#434 Windows tier
  README.md
Labels: docs

#440 feat(components): add textarea
  src/app/shared/components/VueTextarea/VueTextarea.spec.ts
  src/app/shared/components/VueTextarea/VueTextarea.stories.ts
  src/app/shared/components/VueTextarea/VueTextarea.vue
Labels: UI, components

#443 fix(vue-slider): remove focus indicator after move end
  src/app/shared/components/VueSlider/VueSlider.spec.ts
  src/app/shared/components/VueSlider/VueSlider.vue
Labels: UI, bug, components

#444 feat(vue-select): add label
  src/app/form/Form/Form.vue
  src/app/form/FormExample/FormExample.vue
  src/app/shared/components/VueSelect/VueSelect.spec.ts
  src/app/shared/components/VueSelect/VueSelect.vue
  src/app/shared/designSystem/variables/_select.scss
Labels: UI, components

#445 fix(components): align input elements
  src/app/shared/components/VueButton/VueButton.vue
  src/app/shared/components/VueCheckbox/VueCheckbox.vue
  src/app/shared/components/VueInput/VueInput.vue
  src/app/shared/designSystem/variables/_button.scss
  src/app/shared/designSystem/variables/_input.scss
Labels: UI, components

#446 fix(vue-data-table): add custom css class property
  src/app/shared/components/VueDataTable/DataTableFixtures.ts
  src/app/shared/components/VueDataTable/IDataTable.ts
  src/app/shared/components/VueDataTable/VueDataTable.spec.ts
  src/app/shared/components/VueDataTable/VueDataTable.stories.ts
  src/app/shared/components/VueDataTable/VueDataTable.vue
  src/app/shared/components/VueDataTable/VueDataTableHeader/VueDataTableHeader.vue
Labels: UI, components

#448 feat(vue-autocomplete): add autofocus and validation
  src/app/shared/components/VueAutocomplete/VueAutocomplete.spec.ts
  src/app/shared/components/VueAutocomplete/VueAutocomplete.stories.ts
  src/app/shared/components/VueAutocomplete/VueAutocomplete.vue
  src/app/shared/designSystem/variables/_autocomplete.scss
Labels: UI, components
